# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.terraform.lock.*

# Crash log files
crash.log

# Ansible testing file

**/ansible-testing/*

# Key Files

MyKeyPair.*
*.pem
